body {

    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: fixed;


}



.headingtag {
    margin-bottom: -5px;


    font-size: 1.5rem !important;
    font-weight: 500 !important;
    color: #fff;


}


    .Displaynone {
        margin-top: 10px;
    margin-left: 25rem;
    margin-right: auto;
    margin-bottom: -11px;

}

p {

    background-color: #d52234;
    padding: 2px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    height: 10px;
    display: inline;

}

p,
a {

    color: white;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

}



.color1 {
    background-color: #333;
    ;
}

.navbar {
    text-align: center;
    overflow: hidden;
    background-color: #333;
    display: flex;
    margin-top: 23px;
    width: 100%;
    height: 5rem;
    display: flex;
}

.navbar a {
    text-align: center;
    float: left;
    font-size: 25px;
    color: grey;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 10px;
    width: 20px;
    font-size: 16px;



}

.dropdown {
    font-size: 20px;
    margin-top: 10px;
    position: relative;
    font-size: 16px;



}

.dropdown .dropbtn {
    border: none;
    color: grey;
    padding: 10px 16px;
    background-color: #333;
    font-family: inherit;
    font-size: 16px;


}

.dropbtn {
    margin-left: auto;

}


.navbar a:hover,
.dropdown:hover .dropbtn {
    color: white;
}

.dropdown-content {

    position: absolute;
    background-color: #333;
    z-index: 5;
    margin-top: 10px;
    color: #ce0b1c;

}

.dropdown-content a {
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: #333;
    color: white;
}

.dropdown-content a:hover {
    color: #ce0b1c;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.red_button_register {
    background-color: #ce0b1c;
    display: inline-block;
    color: white;
    cursor: pointer;
    width: 25%;
    padding: 10px;
    border-radius: 8px;


}


.logo_of_Altuni {
    margin-left: 40px;
    width: 200px;
    height: 40px;
    margin-top: 10px;

}

.search,
img {


    height: 1.5rem;
    width: 1.5rem;
    margin-right: -3rem;
}

#loginbutton {
    display: inline-block;
    margin-top: 1.5%;
    background-color: #cb352b;
    color: white;
    font-size: 13px;
    width: 4rem;
    height: 1rem;
    border-radius: 3px;
}

.p {
    text-align: center;
    display: blocks;
    background-color: brown;
    color: white;
    width: 100%;
    display: flex;
font-size:small ;


    li.media {
        list-style-type: none;
    }
}


.para1 {
    text-align: center;
    display: block;

    background: #ce0b1c;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 11px;
    letter-spacing: 3.6px;
    padding: 12px;
}

.banner_title {

    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 13%;
    font-size: 4rem;




}

.banner_lang {
    font-family: sans-serif;
    background-color: black;

}

.homebanner {
    display:
        flex;
    background-size: 60%;
    color: white;
    font-family: sans-serif;
    background-color: black;
    background-image: url(./Brand+video+Thumbnail.webp);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: black;

}


.banner_title,
.bannerescape {
    font-size: 3.5rem;
    font-weight: 150;
    letter-spacing: -1.32px;
    margin-top: 3.5rem;


}


.bannerescape {
    margin-left: auto;
}

.bannercolor_red {
    text-align: center;
    font-size: 2.3rem;
    letter-spacing: -2.3px;
    margin-top: -2rem;
    margin-right: 39%;
    font-stretch: wider;
}


.circle {
    display: inline-block;
    background-color: #ce0b1c;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    font-family: sans-serif;

}


.bannercolor_red {
    letter-spacing: -3.6 px;

    display: flex;
    flex-direction: column;
    color: #ce0b1c;
    margin-left: 0%;
    font-family: sans-serif;

}

.Earn_higer {
    margin-left: 13%;
    display: flex;
    flex-direction: column;

}


.li_ui {
    margin-left: 7%;
}

.cicle1 {
    border-radius: 50%;
    background-color: #ce0b1c;
    color: white;
}

ul.list_unstyled_margin {

    list-style-type: none;
}

.list_unstyled_number {
    list-style-type: none;
}


.videobutton a:hover {
    background-color: #cb352b;
    color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

}

.alignnumber,
circle {
    background-color: #ce0b1c;
    color: white;
    display: inline-block;
    border-radius: 50%;
    width: 60Spx;
    height: 45px;
    color: #fff;
    list-style-type: none;



}

.textDecoration {

    margin-left: 15%;
    margin-bottom: 5px;
}

.red_button_register {
    background-color: rgb(235, 9, 9);
    box-shadow: #ce0b1c;
    width: 60%;
    margin-left: -4%;
    margin-bottom: 10px;
    box-shadow: inset;
    font-weight: bold;
    letter-spacing: 2.6px;
}

.certificate_body {
    display: flex;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 0 20px;
    background-color: #e7e7e7;
}

.certification-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #e7e7e7;
}

.certification-title {
    font-size: 2.5em;
    margin-bottom: 0.25em;
    color: #333;
}

.certification-subtitle {
    font-size: 1.2em;
    background-color: #e7e7e7;

    color: #333;
    margin-bottom: 1em;
}

.certification-description {
    font-size: 1.1em;
    margin-bottom: 1.5em;
    background-color: #e7e7e7;
    color: #333;

}

.cta-button {
    text-align: center;
    display: inline-block;
    background-color: #da3327;
    color: white;
    border-radius: 5px;
}

.certification-date {
    color: #333;
    background-color: #e7e7e7;
    ;

}

/* >>>>>>>>>>>>>>>>>>>>>>>> */
.image-container {
    display: flex;
    width: 100%;
    justify-content: center;
    /* Center the image horizontally */
    align-items: center;
    /* Center the image vertically */
}

.image-container img {
    margin-top: -3rem;
    display: flex;
    width: 100%;
    height: auto;
    margin-left: -3rem;
}

/* >>>>>>>>>>>>>>>> */


.certifiedcoloumn {
    display: flex;
    flex-direction: row;
}

img {
    margin-top: 2.5rem;
    margin-left: 13rem;
    width: 750px;
    height: 600px;

}

.text-on-certificate{
    background-color: transparent;
    position: relative;
    margin-left: 25rem;
    margin-top: 5rem ;
    color: white;



}

.text-on-certificate{
    margin-top: 3.5rem;
    margin-left: 18.5rem;
    

}



.rightcolumn{
    margin-left: -1.5rem;
}

#disc ,ul1{
    font-size: 1.3rem;
    margin-top: 2rem;
    list-style-type: none; 
    
}





.leftcolumn{
    margin-left: 3.5rem;
}


.rightcolumn{
    margin-top: -30rem;
    margin-left: 26rem;
}

.text-on-certificate{
    margin-top: 2.5rem;
}
.realworld-align{


    text-align: center;
}

.row-three-button ,   .inner-change-threebutton {   
    display: inline-block; color: black;  list-style-type: none;
}


.section5-background .conatiner5 {
    background-color: black;

    margin-top: 3.5rem;
}


.three-button   {
    display: flex;
    
}

.ABC {
     background-color: #636161;
     color: white;
     display: inline-block;
     border-radius: 20px;
     width: 10rem;
     padding: 8px;
     font-size: 16px;
     letter-spacing: 1px;
     

}

.scrolling-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
width: 73%;
margin-left: 15%;
border-image: space -10px;
margin-bottom: 30px;
    
}

.card {
	display: inline-block;
 column-gap: 10px;
 

}

}
.logo_aligns{
    display: block;
}

*, :after, :before {
    box-sizing: border-box;
    
}

.column{
    margin-top: -17rem;
    margin-left: -10rem;
    width: 30%
}


